.uploader {
  height: 300px;
  width: 300px;
  position: fixed;
  background-color: #1E1E1E;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  border: 1px solid #444;
}

.uploader__header {
  display: flex;
  justify-content: space-between;
}

.uploader__title {
  color: #E0E0E0;
  font-size: 1.2rem;
}

.uploader__close {
  padding: 3px;
  color: #E0E0E0;
  cursor: pointer;
}

.upload-file {
  background-color: #2A2A2A;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #E0E0E0;
  border: 1px solid #444;
}

.upload-file__header {
  display: flex;
  justify-content: space-between;
}

.upload-file__progress-bar {
  height: 1rem;
  border-radius: 8px;
  background-color: #2A2A2A;
  display: flex;
  margin: 3px 0;
  border: 1px solid #444;
}

.upload-file__upload-bar {
  background-color: #4CAF50;
  border-radius: 8px;
}

.upload-file__percent {
  color: #E0E0E0;
  left: 50%;
  position: absolute;
}